// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Constants
$meepleme-primary: #FF3700;

$break-large: 1024px;
$break-small: 1023px;

// Custom SCSS

.center {
  text-align: center;
}

.auxilliary-information {
  @media screen and (min-width: $break-large) {
    margin-top: 25%;
  }
  @media screen and (max-width: $break-small) {
    padding-top: 10px;
    text-align: left;
  }
}

.meepleme-button-primary {
  @include button-base;
  @include button-size;
  @include button-style($meepleme-primary, false, false);
}

.primary-disabled {
  @include button-base;
  @include button-size;
  @include button-style($meepleme-primary, false, true)
}

div.feature {
  img {
    border-radius: 50%;
  }
}

.banner {
  background-color: $meepleme-primary;

  @media screen and (min-width: $break-large) {
    margin-top: 20px;
  }
}

.banner-title {
  color: #fff;
  padding: 0;
  margin: 0;

  @media screen and (max-width: $break-small) {
    padding: 3px 0;
  }
}
.push-down {
  @media screen and (min-width: $break-large) {
    margin-top: 20px;
  }
}

.calendar-item {
  background-color: $meepleme-primary;

  @media screen and (min-width: $break-large) {
    height: 40px;
    width: 40px;    
  }


  img {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}

.boardgame-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  .submit {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
}

.boardgame-title {
  width: 100px;
  font-size: 8pt;
  text-align: center;
}

.voted {
  border: 3px solid $meepleme-primary;
  background-color: $meepleme-primary
}

header {
  background-image: url("/images/header_background.jpg");
  background-size: cover;

  padding: 45px;
  margin-bottom: 45px;

  .subheader {
    color: white;
  }

  #logo {
    width: 250px;
    height: 250px;
  }
}

.top-bar {
  margin-bottom: 0;
}

.nav-image {
  padding: 2px 0 0 0;
}

.footer-pad {
  @media screen and (min-width: $break-large) {
    padding-bottom: 1.8em;
  }
}

footer {
  background: #1a1a1a;
  color: white;
  padding: 0.5em;
  text-align: right;

  @media screen and (min-width: $break-large) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  p {
    padding: 0;
    margin: 0;
  }
}