<header>
  <div class="row">
    <div class="small-12 center">
      <img id="logo" src="/images/meeple_logo.png" />
      <h2 class="subheader">organize your boardgame events</h2>
      <a class="button meepleme-button-primary" href="/login">Log In with Facebook</a>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-4 columns feature center">
    <img src="http://placehold.it/200" />
    <h3>Feature One</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui diam, scelerisque porttitor tincidunt eu, tempus sit amet enim. Sed rutrum, ante id aliquam tincidunt, ligula dolor bibendum enim, ac auctor nisi velit vel urna.</p>
  </div>
  <div class="large-4 columns feature center">
    <img src="http://placehold.it/200" />
    <h3>Feature Two</h3>
    <p>Sed sed pellentesque erat. Proin magna nunc, molestie sed adipiscing nec, lobortis ut arcu. Vestibulum tristique lectus ac turpis laoreet non dapibus dui interdum. Etiam tincidunt molestie libero, in sollicitudin magna ultricies et.</p>
  </div>
  <div class="large-4 columns feature center">
    <img src="http://placehold.it/200" />
    <h3>Feature Three</h3>
    <p>Ut tellus nulla, vestibulum ac egestas et, pretium in justo. Aenean tempor fermentum libero id feugiat. Vivamus leo justo, mollis in aliquam id, placerat sit amet lectus. Vivamus at scelerisque risus. Integer ac metus nisi.</p>
  </div>
</div>

<% if current_user %>
  <%= erb :"account/reveal" %>
<% end %>