<tr>
  <td>
    <% if user.ghost? %>
      <%= user.id %>
    <% else %>
      <%= link_to user.id, "/admin/users/#{user.id}" %>
    <% end %>
  </td>
  <td><%= user.name %></td>
  <td><%= user.bggname %></td>
  <td>
    <% if user.ghost? %>
      <span class="label secondary">Ghost</span>
    <% end %>
    <% if user.admin? %>
      <span class="label success">Administdator</span>
    <% end %>
  </td>
</tr>