<div data-alert class="alert-box">
  Administration Panel
</div>

<div class="row">
  <ul class="inline-list">
    <li><a href="/admin">Admin Home</a></li>
    <li><a href="/admin/users/creators">Event Creators</a></li>
    <li><a href="/admin/users/attendees">Event Attendees</a></li>
    <li><a href="/admin/users/inactive">Inactive Users</a></li>
  </ul>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <th class="large-3 columns">Id</th>
        <th>Name</th>
        <th>BGG Id</th>
        <th>Other</th>
      </tr>
    </thead>
    <tbody>
      <% for user in users do %>
      <%= erb :'admin/_user_row', locals: {user: user} %>
      <% end %>
    </tbody>
  </table>
</div>