<header>
  <div class="row">
    <div class="small-12 center">
      <img class="logo" />
      <h1 class="subheader"><%= user.name %></h1>
      <img src="http://placehold.it/200" />
    </div>
  </div>
</header>

<div class="row">
  <div class="small-12 columns">
    <dl>
      <dt>Boardgame Geek Name</dt>
      <dd><%= user.bggname %></dd>

      <dt>Date Format</dt>
      <dd><%= user.date_format %></dd>

      <dt>Time Zone</dt>
      <dd><%= user.time_zone %></dd>

      <dt>Administrator</dt>
      <dd><%= user.admin? %></dd>
    </dl>
  </div>
</div>