<% if event.single_day? %>
  <p><%= event.start_day %></p>
  <p><%= event.start_time %> - <%= event.end_time %></p>
<% else %>
  <p>From <%= event.start_datetime %></p>
  <p>To <%= event.end_datetime %></p>
<% end %>
<p><%= event.location %></p>