<div class="row banner">
  <div class="large-1 columns">
    <div class="calendar-item">
      <%= image_tag '/images/calendar.png'%>
    </div>
  </div>
  <div class="large-11 columns">
    <h3 class="banner-title"><%= event.name %></h3>
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <div class="auxilliary-information">
      <%= erb :'event/_event_time_information', locals: {event: event} %>
    </div>
  </div>

  <div class="large-5 large-offset-1 columns">
    <% if event.has_votes? %>
      <h3>Top <%= event.max_boardgames %> Voted Games</h3>
      <p class="subheader">
        <%= event.description %>
      </p>

      <ul class="inline-list">
        <% for game in event.top_boardgames do %>
        <li>
          <div class="boardgame-image">
            <%= image_tag game.thumbnail %>
          </div>
          <p class="boardgame-title"><%= game.name %></p>
        </li>
        <% end %>
      </ul>
    <% else %>
      <div class="center">
        <h3 class="subheader">Doesn't look like anyone has voted for a game yet!</h3>
        <p><%= link_to 'Be the first!', "/events/#{event.id}#vote", class: 'meepleme-button-primary' %></p>
      </div>
    <% end %>
  </div>

  <div class="large-3 columns">
    <% if event.has_votes? %>
      <div class="auxilliary-information center">
        <p>
          The top <%= event.max_boardgames %> games will be
          played at the event
        </p>
        <%= link_to 'Vote', "/events/#{event.id}#vote", class: 'meepleme-button-primary' %>
      </div>
    <% end %>
  </div>

</div>