<div class="row push-down">
  <div class="large-10 large-offset-1 columns center panel">
    <h2 class="subheader">Looks like you don't have any events yet</h2>
    <p>You can always create your own event and invite friends to it!</p>
    <%= link_to 'Create an Event', 'events/new', class: 'meepleme-button-primary' %>
  </div>
</div>