<% content_for :additional_js do %>
<script src="/js/events/create.js"></script>
<script>
  var eventId = "<%= event_id %>";
  var jobId = "<%= job_id %>";
  MeepleMe.Event.Create.initialize(jobId, eventId);
</script>
<% end %>

<h1>Your event is being created on <%= platform %></h1>
<img src="/images/loading.gif"></img>