<% content_for :social_media_js do %>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '<%= app_id %>', // App ID from the App Dashboard
      channelUrl : '//localhost:3000/channel.html', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    MeepleMe.Event.initialize({
      success: function(){MeepleMe.Event.fetchFriends();},
      failure: function(){console.log("womp womp");}
    });

    // Additional initialization code such as adding Event Listeners goes here

  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might
  // contain some type checks that are overly strict.
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>
<script src="/js/events/new.js"></script>
<% end %>

<div class="row">
  <div class="small-12">
    <h1>New Event</h1>
  </div>
</div>

<% form_for @event, "/events/create" do |f| %>
<% unless @event.errors.blank? %>
  <div class="row">
    <div class="small-12 columns alert-box alert">
      <%= f.error_messages %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= f.label :starts_at_date, :caption => "Start Date" %>
      <%= f.text_field :starts_at_date, :class => "date", :type => 'date'  %>
    </div>
    <div class="small-6 columns">
      <%= f.label :starts_at_time, :caption => "Start Time" %>
      <%= f.text_field :starts_at_time, :class => "time", :type => 'time'  %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= f.label :ends_at_date, :caption => "End Date" %>
      <%= f.text_field :ends_at_date, :class => "date", :type => 'date'  %>
    </div>
    <div class="small-6 columns">
      <%= f.label :ends_at_time, :caption => "End Time" %>
      <%= f.text_field :ends_at_time, :class => "time", :type => 'time'  %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :invitations, :caption => "Who would you like to invite to this event?" %>
      <%= f.select :invitations, :multiple => 'true' %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit "Create Event", :class => 'meepleme-button-primary' %>
    </div>
  </div>
<% end %>