<header>
  <div class="row">
    <div class="small-12 center">
      <img class="logo" />
      <h1 class="subheader"><%= event.name %></h1>
      <img src="http://placehold.it/200" />
    </div>
  </div>
</header>

<div class="row">
  <div class="small-3 columns">
    <%= erb :'event/_event_time_information', locals: {event: event} %>
  </div>

  <div class="small-8 small-offset-1 columns">
    <h3>
      <% if event.single_day? %>
        <%= event.start_day %> &middot;
        <%= event.time_range %>
      <% else %>
        <%= event.start_datetime %> &middot;
        <%= event.end_datetime %>
      <% end %>
    </h3>
    <h3><%= event.location %></h3>    


    <div>
      <p>Are you going?</p>
      <% form_tag "#{event.attending_link}", :method => "put" do |f| %>
      <!-- Hack, need to create a UserEventDetails Facade Object or something to simplify all this -->
        <% if event.user_attending? %>
          <%= submit_tag "Yes", :class => "meepleme-button-primary primary-disabled", :disabled => true %>
          <%= submit_tag "No", :class => "button secondary", :name => 'attending' %>
        <% else %>
          <%= submit_tag "Yes", :class => "meepleme-button-primary", :name => 'attending' %>
          <%= submit_tag "No", :class => "button secondary disabled", :name => 'attending', :disabled => true %>
        <% end %>
      <% end %>
    </div>

    <div class="panel">
      <h3>Attending</h3>

      <ul class="inline-list">
        <% event.people_coming[0..6].each do |attendee| %>
        <li><%= attendee.user.name %></li>
        <% end %>

        <% if event.people_coming.count > 6 %>
        <li>+<% event.people_coming - 6 %></li>
        <% end %>
      </ul>
    </div>

    <div class="panel" id="vote">
      <h3>Available Games</h3>

      <p class="subheader">
        Vote for games you'd like to play at <%= event.name %>. This list
        is generated by meeple.me members who have already linked their
        BGG account.
      </p>

      <% event.boardgames.each_slice(5) do |row| %>
      <ul class="inline-list">
        <% row.each do |boardgame| %>

        <li>
          <% form_tag "/events/#{event.id}/vote", :method => "post" do %>
            <%= hidden_field_tag 'boardgame_id', :value => boardgame.id %>
            <div class="<%= boardgame_image_classes(boardgame) %>">
              <%= image_submit_tag boardgame.thumbnail, :class => 'submit' %>
            </div>
            <p class="boardgame-title"><%= boardgame.name %></p>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>