<div id="setup-bgg" class="reveal-modal">
  <% form_for current_user, "/account", :id => "account" do |f| %>
  <%= hidden_field_tag 'redirect', :value => '/events' %>
  <div class="row">
    <div class="large-6 large-centered center columns">
      <h1>Welcome!</h1>
      <h5 class="subheader">Before getting started, we need some information.</h5>

      <%= f.error_messages %>

      <%= f.text_field :bggname, :placeholder => "Boardgame Geek Username" %>

      <p class="subheader">We will use your boardgame collection information. This information is required to create events.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-centered columns">
        <a href="/events" class="button secondary">Skip this for now</a>
        <%= f.submit "Submit", :class => "button meepleme-button-primary" %>
    </div>
  </div>
  <% end %>
</div>

<% content_for :additional_js do %>
  <script type="text/javascript">
  jQuery(document).ready(function(){
    $('#setup-bgg').foundation('reveal', 'open');
  });
  </script>
<% end %>