<div class="row">
  <div class="small-12 columns">
    <h1>Account</h1>
    <% if flash[:notice] %>
      <h3><%= flash[:notice] %></h3>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <h2>Settings</h2>

    <% form_for current_user, "/account", :id => "account" do |f| %>
      <%= f.error_messages %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :bggname, :caption => 'Boardgame Geek Name' %>
      <%= f.text_field :bggname %>

      <%= f.label :date_format %>
      <%= f.text_field :date_format %>

      <%= f.label :time_zone %>
      <%= f.select :time_zone, options: ActiveSupport::TimeZone.all %>

      <%= f.submit "Save", :class => "button meepleme-button-primary" %>
    <% end %>
  </div>
  <div class="small-6 columns">
    <h2>Your Collection</h2>

    <ul>
      <% for boardgame in boardgames do %>
      <li><%= boardgame.name %></li>
      <% end %>
    </ul>
  </div>
</div>