  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Meeple.me - <%= yield_content :page_title %></title>

  <link rel="stylesheet" href="/css/normalize.css" />
  
  <link rel="stylesheet" href="/css/app.css" />
  
  <link rel="stylesheet" href="/css/chosen.css">
  <link rel="stylesheet" href="/css/jquery-ui-1.10.1.custom.css">

  <script src="/js/vendor/custom.modernizr.js"></script>
