<!DOCTYPE html>
<html>
  <head>
  <%= erb :head %>
  </head>
  <body>
    <%= erb :nav %>
  	<%= yield %>
    <div class="footer-pad"></div>
    <%= erb :footer %>
    <%= erb :scripts %>
  </body>
</html>
