<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Meeple.me</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <% if current_user %>
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-dropdown">
          <a href="#"></a>
          <ul class="dropdown">
            <li><a href="/account">Account</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/events">Events</a>
          <ul class="dropdown">
            <li><a href="/events?hosting=1">My Events</a></li>
            <li><a href="/events/new">Create Event</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <% if current_user.admin? %>
        <li><a href="/admin">Admin Panel</a></li>
        <% end %>
      </ul>
      <% end %>
    <ul class="right">
      <li><a href="http://facebook.com"><img class="nav-image" src="/images/facebook.png" alt="Facebook" /></a></li>
      <li><a href="http://twitter.com/meepleme"><img class="nav-image" src="/images/twitter.png" alt="Twitter" /></a></li>
    </ul>
  </section>
</nav>