  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/chosen.jquery.min.js"></script>
  <script src="/js/jquery-ui-1.10.1.custom.min.js"></script>
  
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>

  <script>
  $(function(){
    $(document).foundation();    
  })
  </script>
  

  <%= yield_content :additional_js %>
  <%= yield_content :social_media_js %>